@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Crimson+Text&family=Josefin+Sans:wght@300&family=Playfair+Display&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;1,100;1,500&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto" sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}